* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    text-align: center;
    /*background-color: rgb(219, 219, 219); */
}
ul{
    font-size: 14px;
    list-style-type: none;
    padding: 10px;
 
}
#nova-tarefav {
    box-decoration-break: none;
}
.concluida {
    text-decoration: line-through;
    color: gray;
    
}
li {
    text-align: center;
    height: auto;
    

}
.icone-btn{
    width: 20px;
    height: 20px;
    margin: 0;
}

#tarefas {

}